* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #92eaf6;
}

/* HOME */
.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to right, #55cced, #71bdfb);
    color: white;
    text-align: left;
}

.home h1 {
    font-size: 3rem;
}

.home span {
    color: #ffeb3b;
}

.home p {
    margin: 15px 0;
    font-size: 1.2rem;
}
.home-image img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 20px;
    align-items:right;
}


.btn {
    padding: 10px 25px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #333;
}

/* ABOUT */
.about, .skills,.projects ,.contact {
    padding: 60px 50px;
    text-align: center;
}

.about h2,
.skills h2,
.projects h2,
.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

/* SKILLS */
.skill-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}
/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    width: 280px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}


.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 0.95rem;
}

.project-card a {
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}

/* CONTACT FORM */
.contact-form {
    max-width: 400px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    width: 100%;
    padding: 12px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover {
    background: #1976d2;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        text-align: center;
    }

    .home-image img {
        width: 200px;
        height: 200px;
    }
}
