body{
font-family: 'georgia',serif;
    margin:20px;
}

.container{
    border: 2px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:coloum ;
    gap: 40px;
    padding :40px;
    margin:20px;
}
.Card{
    background-color:bisque;
    width:220x;         
    text-align:center;
    border-radius:10px;
    padding:20px;
    box-shadow: 4px 8px rgba(0,0,0,5);
    border :3px solid #007bff;

}
.circle{
    background-color: blue;
    color: pink;
    font-weight: bold;
    font-size: 20x;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height:70px;
    margin:0 auto 15px;
}
h3{
    font-size: 14px; 
    margin:5px;
}