/*body styling*/
body{
    font-family: Arial, sans-serif;
    background-color:green;
    text-align: center;
    margin: 20px;
}
/*heading*/
h1{
    color:aqua;
    margin:20px
}
/*product box styling*/
.Product-box{
    background-color:white;
    width: 300px;
    margin: 0 auto;

    padding:15px;
    border: 2px solid greenyellow;
    border-radius:8px;
}
/*product image style*/
.product-box img{
    width :500px;
    height: auto;
    border-radius:5px;
}
/*product title*/
.product-box h2{
    color:black;
    font-size: 20px;
    margin-top: 10px;
}
/*product description*/
button{
    background-color:blue;
    color:white
    padding : 10px 20px;
    border : none;
    border-radius : 5px;
}
